@model CategoryListModel


<div class="border border-dark p-3 m-2">
    Şu anda @Model.Name kategorisine ait olan blogları görüyorsunuz. <a asp-action="Index" class="float-right"> Filtreyi kaldır.</a>
</div>