@model IEnumerable<CategoryListModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h3 class="text-center my-3">Kategori Listesi</h3>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm float-right mb-3">Yeni Kategori</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                Kategori İsmi
            </th>
            <th>Tablo İşlemleri</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Düzenle</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
